:root {
  --textSize: 14px;
  --dark : #292e39;
  --orange : #ff8c00;
  --red : #d7241b;
  --green: #329600;
  --blue: #1e68b2;
  --yellow: #ffffbf;
  --midnight : #061031ce;
  --gray: #6a7d8a;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
}

.App {
  white-space:  pre-line;
  text-align: center;
  position: absolute;
  box-sizing: border-box;
}

.btn {
  cursor: pointer;
}

header {
  background-image: linear-gradient(120deg, var(--midnight) calc(100% - 300px), var(--gray) calc(100% - 250px));
  height: 70px;
  color: var(--yellow);
  font-weight: bolder;
}

.contents {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: left;
  margin: 0 auto;
}
.side_container {
  background-color: var(--midnight);
  flex-shrink: 0;
  flex-basis: 300px;
  border-right: var(--red) 1px solid;
  border-image: linear-gradient(to bottom, var(--midnight) 0%, var(--red) 33%, var(--orange) 66%, var(--midnight) 100%);
  border-image-slice: 1;
  color: var(--gray);
}
.scroll_btn {
  height: 30px;
  transition: 0.2s;
}
.scroll_btn:hover {
  height: 35px;
}
.main_container {
  flex-basis: 100%;
  height: 100%;
  border-top: black 1px solid;
}

.msg_container {
  transition: 0.2s;
  height: calc(100% - 75px);
  overflow-y: scroll;
}
.msg_container::-webkit-scrollbar {
  margin-right: 3px;
  width: 7px;
  display: block;
}
.msg_container::-webkit-scrollbar-track {
  background: var(--dark);
}
.msg_container::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--dark) 0%, var(--red) 50%, var(--orange) 100%);
  border-radius: 3.5px;
  transition: 0.2s;
}
/* .msg_container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, var(--blue) 0%, var(--red) 50%, var(--orange) 100%);
} */
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* @media (prefers-reduced-motion: no-preference) { */
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */