:root {
  --textSize: 14px;
  --dark : #292e39;
  --orange : #ff8c00;
  --red : #d7241b;
  --green: #329600;
  --blue: #1e68b2;
  --yellow: #ffffbf;
  --midnight : #061031ce;
  --gray: #6a7d8a;
}

.message_editor, .del_msg {
  width: 100%;
  height: 100vh;
  background-color: #00000090;
  padding: 5px;
  display: block;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}
.window {
  width: 70vw;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--midnight);
  border: var(--red) 1px solid;
  border-image: linear-gradient(135deg, var(--midnight) 10%, var(--orange) 50%, var(--red) 100%);
  border-image-slice: 1;
}
.edit_head {
  width: 100%;
  color: var(--yellow);
  font-size: 30px;
  text-align: right;
}
.message_editor form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.message_editor textarea {
  width: 80%;
  font-size: calc(var(--textSize)-1);
  background-color: var(--gray);
  color: var(--yellow);
  border-color: none;
  border-width: medium;
  border-radius: 10px;
  padding: 6px;
  resize: none;
  margin-right: 5px;
}
.message_editor textarea::placeholder {
  color: var(--yellow);
  opacity: 0.5;
}
.message_editor textarea:focus {
  border-color: var(--blue);
  border-width: medium;
  border-radius: 8px;
  outline: none;
}
.message_editor textarea:focus::placeholder {
  color: transparent;
}
.message_editor .send_btn {
  display: block;
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--green);
  border-radius: 20px;
  transition: 0.2s;
}
.message_editor .send_btn:hover {
  background-color: var(--blue);
}

.message_editor .send_icon {
  margin: 0 auto;
  padding: 5px 5px 0 0;
}

.del_msg .window {
  display: flex;
  justify-content: center;
  height: 100px;
}
.del_msg .del_content {
  flex-basis: 100%;
  display: inline;
  vertical-align: center;
}
.del_msg img {
  margin: 0 50px;
  width: 20px;
}
.del_msg .btn {
  font-size: calc(var(--textSize) * 2);
  margin-right: 5px;
}